[Unit]
Description=Refresh KCP proxy daily key every six hours

[Timer]
OnBootSec=6h
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
